.newSpot{
    margin-bottom: 10px;
}

.AllSpots {
    /* border: 5px black solid; */
    color: rgb(144, 36, 36);
    /* padding-bottom: 200px; */
    justify-content: center;
    margin: 10px;


}

.AllSpotsContainer {
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-right: 10px;
    margin-left: 10px;


}

/* .AllSpotsContainer{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;

} */

@media only screen and (min-width: 816px) and (max-width: 954px) {
    .AllSpotsContainer {
        justify-content: center;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        margin-right: 10px;
        margin-left: 10px;


    }
    }
    @media only screen and (min-width: 461px) and  (max-width: 815px) {
        .AllSpotsContainer {
            justify-content: center;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 5px;
            margin-right: 10px;
            margin-left: 10px;


        }
        }

        @media only screen and (max-width: 460px) {
            .AllSpotsContainer {
                justify-content: center;
                display: grid;
                grid-template-columns: repeat(1, 1fr);
                gap: 20px;
                margin-right: 10px;
                margin-left: 10px;


            }
            }
