#modal-content{
    width: 300px;
    height: 200px;
    display: flex;
    border-radius: 40px;
    font-family: 'Montserrat', sans-serif;
}


.starRating button {
    border: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
    color: #902424;
    font-size: 1.5em;
}

.reviewModalContainer{
    width: 300px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.stay{
    font-size: 20px;
}

.reviewArea{

}
