.deleteModal{
    border: 3px black solid;
    border-radius: 1rem;
    display: block;
    position: fixed;
    z-index: 1;
    background-color: white;
    left: 21rem;
    top: 19rem;
    width: 400px;
    justify-content: center;
    display: flex;
}

.delete{
    background-color: red;
}
.noDelete{
    background-color: darkgray;
}
