

.SpotCard{
    border: 5px black solid;
    width: 215px;
    height: 215px;
    display: flex;
    align-items: flex-start;
    overflow: hidden;
    margin-right: 10px;
    margin-left: 10px;
    flex-grow: 1;
    padding: 10px;
}
.spotImage{
    width: 215px;
    height: 215px;
    flex-shrink: 0;

}
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.spotLocation{
    display: flex;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 900;

}

.price {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
}
