.hidden{
    display: none
}

.ulNav {
    border-bottom: 2px grey solid;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    list-style-type: none;
}

.OnceUponAStay {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: rgb(200, 71, 12);
    padding-left: 20px;
    padding-top: 8px;
    font-weight: 1000;
}

.createSpot{
    border: none;
    background-color: white;
    padding-top: 8px;
    padding-right: 12px;
}

.buttons{
    display: flex;
}
