.button{
    border-radius: 12px;
    background-color: white;
    margin-top: 5px;

}

.buttonArea{
    padding: 10px;
    gap: 5px;

}

.dropdown{
    list-style-type: none;
}

.bars{
    padding-right: 8px;
}

li {
    list-style-type: none;
}
