.loginScreen{
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    height: 200px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 2px 2px 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 2px solid black;

}

.profile-dropdown {
    position: absolute;
    z-index: 2;
    right: 30px;
    background-color: white;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    height: 6rem;
    padding-right: 10px;
    padding-top: 10px;
    border-radius: 15px;
}

.loginInput{
    width: 250px;
    margin-bottom: 6px;
}

.loginSubmit{
    margin-bottom: 10px;
    box-shadow: 2px 2px 3px;
    background-color: rgb(200, 71, 12);
    color: white;
    height: 25px;
    border-radius: 5px;
    width: 250px;
    margin-left: 4px;
    margin-right: 2px;
}

.loginDisplay{
    padding-right: 17px;
}

.errorMsg{
    font-family: 'Montserrat', sans-serif;
    color: red;
    font-size: 12px;
}
